REMOTE=deploy@example.com
REMOTE_DIR=/srv/apps/procyon
APP_NAME=procyon-server
CONFIG_SOURCE=config/config.docker.json
REMOTE_CONFIG_NAME=config.docker.json

CONFIG_PATH=config/config.json
APP_PROD=false
APP_ENV=dev
AUTH_ENABLED=true
AUTH_PROVIDER=kratos
AUTH_DOMAIN=http://127.0.0.1:4433
RBAC_ENABLED=true
ADMIN_ENABLED=true
ADMIN_SECRET_KEY=CHANGE_ME_ADMIN_KEY
DB_DRIVER=mysql
DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=root
DB_NAME=procyon
DB_PORT=3306
DB_MAX_OPEN_CONNS=25
DB_MAX_IDLE_CONNS=10
DB_CONN_MAX_LIFETIME_SECONDS=1800
DB_CONN_MAX_IDLE_TIME_SECONDS=300
DB_MIGRATIONS_DIR=migrations/mysql
TRACE_EXPORTER=log
TRACE_OTLP_ENDPOINT=tempo:4317
LOG_LEVEL=info
